body
{
    margin:0;
    padding:0;
}

#vid
{
    position: relative;
    z-index:-1;

}

/*@media(min-aspect-ratio:16/9)
{
    #vid
    {
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9)
{
    #vid
    {
        width: 100%;
        height: auto;
    }

}*/

.user-box
{
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
}
.user-box img
{
    /*width: 100%;*/
    height:30vh;
    background-blend-mode: color;
    border-radius: 90%;
    border:2px black;
}
.user-box h1
{
    color: #ffffff;
    font-weight:bolder;
    margin: 10px;
}
.user-box p
{
    color:#ffffff;
}

/*----ABOUT----*/
.about
{
    padding-top:100px;
    padding-bottom:50px;

}
.profile-img
{
    height: 300px;
}
.nav-bar
{
    top:0;
    position: -webkit-sticky;
    z-index: 2;
}

.navbar
{
    background-color:black;
}

.nav-bar img
{
    height:50px;
}

.nav-bar .fa-bars
{
    font: size 35px;
    color:white;
}

.navbar-nav
{
    float:right;
    text-align: right;
}
.nav-link
{
    color:wheat !important;
}

/*-----Contact-----*/
.contact
{
    padding: top 50px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(back.jpg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color:#ffffff
}

.contact .row
{
    padding:30px 0;
    font-size:22px;
}

.contact .col-md-4 .fa
{
    padding:10px;
    font: size 40px;
}

.social-icons
{
    top:50%;
    transform:translateY(-50%);
    position:sticky;
    z-index:1;
    width:80px;
}
.social-icons ul
{
    padding:initial;
}
.social-icons ul li
{
    height:40px;
    width:40px;
    list-style-type: none;
    padding-left:12px;
    padding-top:6px;
    margin-top:5px;
    columns: #ffffff;
    background: #000000;
}

.social-icons ul li:hover
{
    padding-left:30px;
    width:80px;
    transition:1s;
}

.about
{
    font-family:cursive;
}

.skills-bar
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom:0px;
    padding-top: 0px;
}

.resume
{
    padding-top: 0px;
    padding-bottom:0px;
    color: #ffffff;
}

.resume h1
{
    margin-bottom: 50px;
    font-size:50px ;
    font-weight: bold;
}


.timeline::before
{
    content: '';
    display:inline-block;
    background: #ffffff;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 70%;
    z-index: 1;
}

.timeline li
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background:	#303030;
}

.timeline li h3
{
    background-color: #ffffff;
    padding: 5px 0 5px 20px;
    column-rule-color: #000000;
    font-size: 30px;
    color: black;
}

.timeline li::before
{
    content:'';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 5px solid #fff;
    left:20px;
    width: 20px;
    height: 20px;
    z-index:1 ;
}

/*-----Projects-------*/
.projects
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}


/*.container 
{
    width:1000px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}*/

.card
{
    position: relative;
    left: -6%;
    width:300px;
    height: 370px;
    transition: 0.3s ease-out;
    box-shadow:0 3px 15px rgba(0,0,0,0.7) ;
}

.card .imgbox
{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .imgbox img
{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s;    
}

.wrapper
{
    display: flex;
    width: 70%;
    justify-content:space-around;
    padding-bottom: 20px;
    align-items: center;
    /*padding-left: 33%;*/
    /*flex-direction: row;*/
    /*padding-left: 30%;*/
}

.card
{
    width:280px;
    height: 360px;
    padding: 2rem 1rem;
    background:#fff ;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(118, 204, 238, 0.5);
    transition: 0.5s ease-in-out;
    justify-content:center;
    margin-right: 40px;
}

.card:hover{
    transform: translateY(20px);
}
.card::before
{
    content: "";
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(0,176,155,0.5),rgba(0,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before
{
    opacity: 1;
}

.card img
{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
}

.card .info
{
    position: relative;
    z-index: 3;
    color:beige;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info
{
    opacity: 1;
    transform:translateY(0px);
}

.card .info h1
{
    margin: 0;
    opacity: 0.5;
}

.card .info p
{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top:8px;
    margin-bottom: 20px;
}

.card .info .btn
{
    text-decoration: dotted;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-bottom: 4px;
}

.card .info .btn:hover
{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.wrapper
{
    width: 841px;
    margin: 0 auto;
}


